.social-button {
  margin-top: var(--spacing-2);
}
.title-container{
  margin-bottom: 25px;
}
.text-button {
  color: #081754;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.ca40fca87 {
  padding: 0px var(--spacing-2);
}
.cb79e947c{
  border-bottom: 0px !important;
}
.ca247b1a9 {
  transform: translateX(-100%) translateY(-100%) !important;
}
.cb79e947c {
  padding: 70px 0px 24px !important;
}
