.title-container{
  margin-bottom: 25px;
}
.button-normal{
  margin-top: var(--spacing-3);
}
.input.multiline{
  background: #BDBDBD !important;
}
.btn-copy-code {
  border-radius: var(--rounded-full, 999px);
  border: 1px solid var(--Colores-Interactive-primary, #1C42E8);
  background: var(--Colores-Background-background-body, #FFF);
  padding: var(--s-unit-3, 12px) var(--s-unit-6, 24px);
  justify-content: center;
  align-items: center;
}
.span-copy-style {
  color: var(--Colores-Interactive-primary, #1C42E8);
  text-align: center;
  font-family: var(--Family-body, Poppins);
  font-size: var(--Size-Small, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}
