.title-container{
  margin-bottom: 25px;
}
.text-button {
  color: #081754;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.ca40fca87 {
  padding: 0px var(--spacing-2);
}
.button-normal {
  margin-top: var(--spacing-4);
}
.country-label {
  color: #081754;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}
.link {
  color: #1C42E8 !important;
  font-size: 16px !important;
}
.country-code-selector {
  box-shadow: inset 0 0 0 150px #fff !important;
  width: 25%;
}
.country-text-span {
  color: #8C8C8C !important;
}
.phone-label {
  color: #8C8C8C !important;
}
.phone-div {
  width: 75%;
}
input[name="phone"] {
  border-radius: 8px !important;
  width: 100% !important;
}
#visual-phone-input::placeholder {
  color: #8C8C8C !important;
}
#visual-phone-input::-webkit-input-placeholder {
  color: #8C8C8C !important;
}
#visual-phone-input::-moz-placeholder {
  color: #8C8C8C !important;
}
#visual-phone-input::-ms-input-placeholder {
  color: #8C8C8C !important;
}
