.title-container{
  margin-bottom: 25px;
}
.button-normal{
  margin-top: var(--spacing-3);
}
.input.multiline{
  background: #BDBDBD !important;
}
.btn-copy-code {
  border-radius: var(--rounded-full, 999px);
  border: 1px solid var(--Colores-Interactive-primary, #1C42E8);
  background: var(--Colores-Background-background-body, #FFF);
  padding: var(--s-unit-3, 12px) var(--s-unit-6, 24px);
  justify-content: center;
  align-items: center;
}
.span-copy-style {
  color: var(--Colores-Interactive-primary, #1C42E8);
  text-align: center;
  font-family: var(--Family-body, Poppins);
  font-size: var(--Size-Small, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}
.custom-checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  font-size: 14px;
  color: #1a1a1a;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  background-color: #f7f7f7;
}
.custom-checkbox-container input[type="checkbox"] {
  accent-color: #0052cc; /* color del check */
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
}
.custom-checkbox-container input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}
.custom-checkbox-container span {
  user-select: none;
}
