.title-container{
  margin-bottom: 25px;
}
.button-normal{
  margin-top: 23%;
}.link {
  color: #1C42E8 !important;
  font-size: 16px !important;
}
.c141f6ee9.focus.input{
  border-color: #05297A;
}
.email-input{
  max-width: 100%;
}
.cd36df9bd{
  color: #081754 !important;
  font-size: var(--font-size-body, 15px);
}
