.social-button {
  margin-top: var(--spacing-3);
}
.title-container{
  margin-bottom: 25px;
}
.text-button {
  color: #081754;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.ca40fca87 {
  padding: 0px var(--spacing-2);
}
.widget-div-enroll {
  display: none;
}
