.title-container{
  margin-bottom: 25px;
}
.text-button {
  color: #081754;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.phone-inputs-container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  margin-bottom: var(--spacing-4);
}
.lada-input {
  width: 25%;
  font-family: Poppins, sans-serif;
}
.number-input{
  font-family: Poppins, sans-serif;
}
.lada-input:read-only {
  background-color: #f8f9fa;
  color: var(--Colores-Text-text-inactive, #8C8C8C);
  cursor: not-allowed;
}
.number-input:read-only {
  background: var(--Background-background-neutral, #BDBDBD);
  color: var(--Text-text-soft, #717171);
  cursor: not-allowed;
}
.number-input-container {
  position: relative;
  flex: 1;
  min-width: 120px;
}
.edit-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: unset;
}
@media (max-width: 480px) {
  .phone-inputs-container {
    flex-direction: row;
    gap: 6px;
  }
}
.country-label,
.code-label {
  color: #081754;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}
.input-wrapper {
  height: auto !important;
  margin-bottom: var(--spacing-3);
}
.div-after-button-continue {
  color: #081754;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  margin-top: var(--spacing-3) !important;
}
.div-bottom-link {
  background: unset;
}
