.title-container{
  margin-bottom: 25px;
}
.text-button {
  color: #081754;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.country-label {
  color: #081754;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}
.button-normal {
  margin-top: var(--spacing-1);
}
.link {
  color: #1C42E8 !important;
  font-size: 16px !important;
}
.country-code-selector {
  box-shadow: inset 0 0 0 150px #fff !important;
  width: 25%;
  grid-area: 1 / 1 !important;
}
.country-code-selector:focus {
  outline: unset !important;
}
.country-text-span {
  color: #8C8C8C !important;
}
.phone-label {
  display: none;
}
input[name="phone"] {
  border-radius: 8px !important;
  width: 100% !important;
}
#visual-phone-input::placeholder {
  color: #8C8C8C !important;
}
#visual-phone-input::-webkit-input-placeholder {
  color: #8C8C8C !important;
}
#visual-phone-input::-moz-placeholder {
  color: #8C8C8C !important;
}
#visual-phone-input::-ms-input-placeholder {
  color: #8C8C8C !important;
}
.phone-input {
  grid-area: 1 / 3 !important;
  font-family: Poppins, sans-serif;
}
.grid-container {
  display: grid !important;
  grid-template-columns: 95px 8px 1fr !important;
}
.original-phone-input {
  display: none !important;
  position: absolute !important;
  left: -9999px !important;
  opacity: 0 !important;
}
.input-wrapper {
    height: auto !important;
}
