.social-button {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box !important;
  border-radius: var(--rounded-full, 999px) !important;
  border: 1px solid var(--Colores-Border-border, #C9C9C9) !important;
  background: var(--Colores-Background-background-body, #FFF) !important;
  margin-top: var(--spacing-3);
}
.title-container{
  margin-bottom: 25px;
}
