.title-container{
  margin-bottom: 25px;
}
.mi-multiline {
    border-radius: 8px !important;
    border: 1px solid #BDBDBD !important;
    background: #BDBDBD !important;
    overflow: hidden !important;
    color: #717171 !important;
    text-overflow: ellipsis !important;
    margin-block-end: 30px !important;
  }
.link-method {
    color: #1C42E8;
    font-family: var(--Family-body, Poppins);
    font-size: var(--Size-Body, 16px);
    font-style: normal;
    line-height: 150%;
}
.custom-checkbox-container {
  display: flex; margin-top: 50px !important;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  font-size: 14px;
  color: #1a1a1a;
  border: none;
  padding: 0.1rem 0.6rem;
  border-radius: 6px;
}
.custom-checkbox-container input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #081754;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s
}
.custom-checkbox-container input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}
.custom-checkbox-container span {
  user-select: none;
}
.custom-checkbox-container input[type="checkbox"]:checked {
  background-color: #0052cc;
  border-color: #0052cc;
}
.custom-checkbox-container input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
footer {
  margin-top: auto;
}
.link {
  color: #1c42e8 !important;
  font-size: 16px !important;
}
#prompt-alert {
  border-radius: var(--rounded-sm, 8px);
  border: 2px solid var(--Colores-Border-border-error, #FF594D);
  background: var(--Colores-Background-background-body, #FFF);
  padding: 12px 8px !important;
}
#prompt-alert p {
  color: var(--Colores-Text-text, #081754);
  font-family: Poppins, sans-serif;
  font-size: var(--Size-Small, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-image: url(https://cdn2.coppel.com/images/emarketing/Materiales/assets/rebranding/alert-info.svg) !important;
  background-repeat: no-repeat;
  padding-left: 32px;
  background-size: 24px;
}
.div-after-button-continue {
  color: #081754;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  margin-top: var(--spacing-3) !important;
}
body{
  font-family: Poppins, sans-serif;
}
