.social-button {
  margin-top: var(--spacing-2);
  max-width: 100% !important;
}
.title-container{
  margin-bottom: 15px;
}
.text-button {
  color: #081754;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
li {
  padding: 5px 0px 0px !important;
}
