.title-container{
  margin-bottom: 25px;
}
.mi-multiline {
    border-radius: 8px !important;
    border: 1px solid #BDBDBD !important;
    background: #BDBDBD !important;
    overflow: hidden !important;
    color: #717171 !important;
    text-overflow: ellipsis !important;
    margin-block-end: 30px !important;
  }
.link-method {
  color: #1C42E8;
    font-family: var(--Family-body, Poppins);
    font-size: var(--Size-Body, 16px);
    font-style: normal;
    line-height: 150%;
}
