.title-container {
  margin-bottom: 25px;
}
.c651dda97 {
  padding: 5px 25px 24px !important;
}
.link {
  color: #1c42e8 !important;
  font-size: 16px !important;
}
.button-normal {
  margin-top: var(--spacing-5);
}
.mi-multiline {
    border-radius: 8px !important;
    border: 1px solid #BDBDBD !important;
    background: #BDBDBD !important;
    overflow: hidden !important;
    color: #717171 !important;
    text-overflow: ellipsis !important;
  }
.btn-copy-code {
  border-radius: var(--rounded-full, 999px);
    border: 1px solid var(--Colores-Interactive-primary, #1C42E8);
    background: var(--Colores-Background-background-body, #FFF);
    padding: var(--s-unit-3, 12px) var(--s-unit-6, 24px);
    justify-content: center;
    align-items: center;
}
.span-copy-style {
  color: var(--Colores-Interactive-primary, #1C42E8);
  text-align: center;
  font-family: var(--Family-body, Poppins);
  font-size: var(--Size-Small, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}
footer {
  margin-top: auto;
}

@media (max-width: 767px) {
  .c651dda97{
    padding: 40px 25px 24px !important;
  }
}
  @media (max-width: 375px) {
    .button-normal {
      margin-top: 55px;
    }
  }
}
