.custom-style {
    border-radius: var(--rounded-full, 999px);
    border: 1px solid var(--Colores-Interactive-primary, #1C42E8);
    padding: var(--s-unit-3, 12px) var(--s-unit-6, 24px);
    justify-content: center;
    background: var(--Colores-Background-background-body, #FFF);
    flex-direction: column;
    align-items: center;
    color: var(--Colores-Interactive-primary, #1C42E8);
    text-align: center;
    font-family: var(--Family-body, Poppins);
    font-size: var(--Size-Small, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
#notify-text {
    color: var(--Colores-Text-text, #081754);
    font-family: var(--Family-body, Poppins);
    font-size: var(--Size-Body, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
#waiting-child-div {
    border-radius: var(--rounded-sm, 8px);
    border: 1px solid var(--Border-border-neutral, #BDBDBD);
    background: var(--Background-background-neutral, #BDBDBD);
    overflow: hidden;
    color: var(--Text-text-soft, #717171);
    text-overflow: ellipsis;
    font-family: var(--Family-body, Poppins);
    font-size: var(--Size-Small, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#icon svg {
  animation: spin 1s linear infinite;
}
