.title-container{
  margin-bottom: 25px;
}
.subtitle-container{
  font-size: var(--font-size-body, 15px) !important;
}
.link {
  color: #1C42E8 !important;
  font-size: 16px !important;
}
.button-normal{
 margin-top: 70px;
}
text{
  font-size: 15px !important;
}
