.title-container{
  margin-bottom: 25px;
}
.button-normal{
  margin-top: 23%;
}.link {
  color: #1C42E8 !important;
  font-size: 16px !important;
}
.email-input{
  max-width: 100%;
}
.text{
  color: #081754 !important;
  font-size: var(--font-size-body, 15px);
}
#prompt-alert {
  border-radius: var(--rounded-sm, 8px);
  border: 2px solid var(--Colores-Border-border-error, #FF594D);
  background: var(--Colores-Background-background-body, #FFF);
  padding: 12px 8px !important;
}
#prompt-alert p {
  color: var(--Colores-Text-text, #081754);
  font-family: Poppins, sans-serif;
  font-size: var(--Size-Small, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-image: url(https://cdn2.coppel.com/images/emarketing/Materiales/assets/rebranding/alert-info.svg) !important;
  background-repeat: no-repeat;
  padding-left: 32px;
  background-size: 24px;
}
